name: Run du -h
on:
  workflow_dispatch:

jobs:
  run-du-h:
    name: Run du -h
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
          - ubuntu-22.04

    steps:
      - name: Create dir
        run: |
          mkdir /tmp/output

      - name: Run du -h
        run: |
          sudo du -h / --threshold=1G 2>/dev/null | tee /tmp/output/du-${{matrix.os}}.txt

      - name: Run env
        run: |
          env | tee /tmp/output/env-${{matrix.os}}.txt

      - name: Upload du output
        uses: actions/upload-artifact@v3
        with:
          name: output
          path: /tmp/output